@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@font-face {
    font-family: 'justicia';
    src: url(/src/justicia/Justicia.ttf);
}

@font-face {
    font-family: 'retro_computer';
    src: url(/src/retro_computer.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


#logo {
    margin-top: 30px;
    width: 100px;
}

#logoGit {
    background-color: transparent;
    margin-top: 30px;
    width: 100px;

}

#logoCodepen {
    background-color: transparent;
    margin-top: 30px;
    width: 150px;
}

#logoLondon {
    background-color: transparent;
    margin-top: 30px;
    width: 250px;
}


#logoFrance {
    background-color: transparent;
    margin-top: 30px;
    width: 150px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #2e302f;
    margin: 0;
}

header {

    text-align: center;
    background-color: #212222;
    color: white;
    padding-bottom: 30px;
    margin-top: -40px;
}

#computer p {
    font-family: 'retro_computer';
}

h1 {
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    margin-top: 40px;
    font-size: 5em;
    font-weight: bold;

}

h1:hover {
    color: #f18a03;
}

h2 {
    font-family: 'Open Sans', 'Roboto';
    font-size: 2em;
    width: 400px;
    margin: auto;

}

b {
    color: #f18a03;
}

h3:before {
    content: "❝ ";
    color: silver;
}

h3:after {
    content: " ❞";
    color: silver;
}

h3 {
    font-weight: bold;
    font-size: 2.5em;
    text-transform: uppercase;
    color: white;

}

p {
    color: white;
}

a {
    text-decoration: none;
    color: rgb(43, 34, 34);
    font-size: 1.5em;
}

a:focus {
    color: rgb(250, 242, 244);
}

ul {
    padding: 5px;
    display: inline;


}

nav li {
    list-style-type: none;
    display: inline;
    margin: 15px;


}

li:hover {
    font-weight: bold;
}

.project_title:hover {
    font-weight: bold;
}

nav {
    text-align: center;
    background: #f18a03;
    box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.5);
    font-size: 1.1em;
    padding: 15px;
}

section {
    text-align: center;
    margin-top: 50px;
}

footer {
    background-color: #1d1d1d;
    color: white;
    text-align: center;
    padding: 30px;
    margin-bottom: -15px;
}

#contact {
    border: 1px black solid;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 50px;
}



#projets {
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    justify-content: space-between;
}

#projects-video {
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    justify-content: space-between;
    height: 100%;
}

.picture_project img .picture_project video {
    width: 80%;
}

#picture_project img {
    width: 90%;
}

.separator {
    width: 40px;
    height: 1px;
    margin: 15px auto;
    display: block;
    background: #999999;
}

.contener {
    width: 80%;
    margin: auto;
}


.projet {
    width: 400px;
    margin: 30px;
    background: white;
    padding-bottom: 15px;
    border: 0px black solid;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.project {
    width: 400px;
    height: 300px;
    margin: 30px;
    background: white;
    padding-bottom: 15px;
    border: 0px black solid;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.projet:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 0.3s;
}

.project:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 0.3s;
}

.projet span {
    text-transform: uppercase;
    display: block;
}

.projet img {
    min-width: 400px;
    height: 266px;
}

.projet .date-project {
    font-size: 0.7em;
}

.photo {
    width: 400px;
    height: 266px;
    overflow: hidden;
    margin-bottom: 15px;
}

.video {
    height: 250px;
}



/*CV*/


#logoCv {
    margin-top: 30px;
    width: 200px;
    border-radius: 50%;
    position: center;
    top: 50px;
    left: 80px;
    border: 5px solid white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
    cursor: pointer;
    transition: .5s;
    user-select: none;
    filter: grayscale(100%);
}

#logoCv:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
}

#type-code {
    font-size: 1.3rem;
    color: #f18a03;
}

.typewrite {
    font-family: 'retro_computer', 'Arial Narrow', Arial, sans-serif;
}

.print-area {
    width: 80%;
    margin: 20px auto;

}

.content {
    display: flex;
    flex-wrap: wrap;
    font-family: roboto, serif;
}

.left-area {
    width: 45%;
    text-align: center;
    padding-bottom: 10px;
    color: rgb(185, 181, 181);
}

.left-area .contact {
    margin-top: 70px;
    padding: 0 30px;
}

.contact h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
}

.contact h5 {
    font-size: 18px;
    margin: 10px 0;
}

.contact p {
    font: size 2em;
    font-family: arial, helvetica;
    color: #f18a03;
}

.skills {
    margin-bottom: auto;
}

.skills h1 {
    font-size: 30px;
    font-weight: bold;
}

.skills-diagram {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    max-width: 35em;
    margin: 2em auto 2em;
}

.skills-diagram>dd {
    /* Hide inner attributes */
    display: none;
}

.skills-diagram dt {
    display: inline-block;
    vertical-align: top;

    border-style: solid;
    border-width: 1px;
    border-radius: 50%;

    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);

    /* set defaults to skill-2 */
    width: 2em;
    height: 2em;
    line-height: 2em;
}

.skills-diagram dt:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

/* Support vertical mode */
.skills-diagram-vertical dt {
    display: block;
    /* .25em is an equivalent to inline-block's horizontal whitespace margin */
    margin: .25em auto;
}

/* Provide 10 different sizes */
.skills-diagram .skill-2 {
    width: 2em;
    height: 2em;
    line-height: 2em;

    background-color: rgba(201, 155, 129, .3);
    border-color: rgba(201, 155, 129, 1);
    color: rgba(201, 155, 129, 1);
}

.skills-diagram .skill-3 {
    vertical-align: middle;

    width: 10em;
    height: 10em;
    line-height: 10em;
    background-color: rgba(138, 138, 140, .3);
    border-color: rgba(138, 138, 140, 1);
    color: rgba(138, 138, 140, 1);
}

.skills-diagram .skill-4 {
    width: 14em;
    height: 14em;
    line-height: 14em;

    background-color: rgba(234, 112, 97, .3);
    border-color: rgba(234, 112, 97, 1);
    color: rgba(234, 112, 97, 1);
}

.skills-diagram .skill-5 {
    vertical-align: bottom;

    width: 5em;
    height: 5em;
    line-height: 5em;
    background-color: rgba(109, 182, 173, .3);
    border-color: rgba(109, 182, 173, 1);
    color: rgba(109, 182, 173, 1);
}

.skills-diagram .skill-6 {
    vertical-align: top;

    width: 6em;
    height: 6em;
    line-height: 6em;

    background-color: rgba(195, 192, 100, .3);
    border-color: rgba(195, 192, 100, 1);
    color: rgba(195, 192, 100, 1);
}

.skills-diagram .skill-7 {
    width: 7em;
    height: 7em;
    line-height: 7em;

    background-color: rgba(214, 89, 102, .3);
    border-color: rgba(214, 89, 102, 1);
    color: rgba(214, 89, 102, 1);
}

.skills-diagram .skill-8 {
    vertical-align: bottom;

    width: 8em;
    height: 8em;
    line-height: 8em;
    background-color: rgba(46, 138, 75, .3);
    border-color: rgba(46, 138, 75, 1);
    color: rgba(46, 138, 75, 1);
}

.skills-diagram .skill-9 {
    width: 11em;
    height: 11em;
    line-height: 11em;

    background-color: rgba(177, 18, 2, .3);
    border-color: rgba(177, 18, 2, 1);
    color: rgba(177, 18, 2, 1);
}

.skills-diagram .skill-10 {
    width: 7em;
    height: 7em;
    line-height: 7em;
    background-color: rgba(81, 112, 144, .3);
    border-color: rgba(81, 112, 144, 1);
    color: rgba(81, 112, 144, 1);
    margin-bottom: 3em;
}

.chart-skills {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    margin-bottom: 100px;
}



/* CHART-SKILLS STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.chart-skills {
    position: relative;
    width: 350px;
    height: 175px;
    overflow: hidden;
}



.chart-skills li {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: inherit;
    border: 45px solid;
    border-top: none;
    border-bottom-left-radius: 175px;
    border-bottom-right-radius: 175px;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    animation-fill-mode: forwards;
    animation-duration: .4s;
    animation-timing-function: linear;

}

.chart-skills li:nth-child(1) {
    z-index: 4;
    border-color: rgb(248, 228, 10);
    animation-name: rotate-one;
}

.chart-skills li:nth-child(2) {
    z-index: 3;
    border-color: orange;
    animation-name: rotate-two;
    animation-delay: .4s;
}

.chart-skills li:nth-child(3) {
    z-index: 2;
    border-color: rgb(208, 110, 12);
    animation-name: rotate-three;
    animation-delay: .8s;
}

.chart-skills li:nth-child(4) {
    z-index: 1;
    border-color: rgb(213, 71, 20);
    animation-name: rotate-four;
    animation-delay: 1.2s;
}

.chart-skills span {
    position: absolute;
    font-size: .85rem;
    backface-visibility: hidden;
    animation: fade-in .4s linear forwards;
}

.chart-skills li:nth-child(1) span {
    top: 5px;
    left: 10px;
    transform: rotate(-21.6deg);
}

.chart-skills li:nth-child(2) span {
    top: 20px;
    left: 10px;
    transform: rotate(-79.2deg);
    animation-delay: .4s;
}

.chart-skills li:nth-child(3) span {
    top: 18px;
    left: 10px;
    transform: rotate(-140.4deg);
    animation-delay: .8s;
}

.chart-skills li:nth-child(4) span {
    top: 10px;
    left: 10px;
    transform: rotate(-180deg);
    animation-delay: 1.2s;
}


/* ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

@keyframes rotate-one {
    100% {
        transform: rotate(21.6deg);
        /**
       * 12% => 21.6deg
       */
    }
}

@keyframes rotate-two {
    0% {
        transform: rotate(21.6deg);
    }

    100% {
        transform: rotate(79.2deg);
        /**
       * 32% => 57.6deg 
       * 57.6 + 21.6 => 79.2deg
       */
    }
}

@keyframes rotate-three {
    0% {
        transform: rotate(79.2deg);
    }

    100% {
        transform: rotate(140.4deg);
        /**
       * 34% => 61.2deg 
       * 61.2 + 79.2 => 140.4deg
       */
    }
}

@keyframes rotate-four {
    0% {
        transform: rotate(140.4deg);
    }

    100% {
        transform: rotate(180deg);
        /**
       * 22% => 39.6deg  
       * 140.4 + 39.6 => 180deg
       */
    }
}

@keyframes fade-in {

    0%,
    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}




/* Just to add real-scenario feeling */



a {
    color: rgb(25, 24, 24);
    font-weight: bold;
}

a:hover {
    color: #ccc;
}

.skills h1 {
    margin-top: 10%;
    margin-bottom: 15%;
}

.soft-skills {
    margin-top: 100px;
}

.soft-skills h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 20px;
}

.languages {
    display: inline;
    ;
}

.languages h1 {
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
}

.languages h4 {
    font-size: 18px;
    margin: 10px 0;
}

.languages p {
    font-size: 20px;
    color: #eeb974;
}

.follow {
    margin-top: 100px;
}

.follow h1 {
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
}

.follow h4 {
    font-size: 18px;
    margin: 10px 0;
}

.follow:hover h4 {
    font-size: 18px;
    margin: 10px 0;
    color: #f18a03;
}

.follow p {
    font-size: 10px;
    color: #f18a03;

}

.right-area {
    width: 55%;
    padding: 50px;
    color: rgb(185, 181, 181);
}

.right-area h2 {
    font-size: 25px;
    font-weight: bold;
    margin-left: 0px;
}

.right-area h2 span {
    margin-right: 30px;
    font-size: 50px;
    color: gray;
}

.right-area a {
    padding-left: 70px;
    text-align: justify;
    word-break: break-all;
    font-size: 25px;
    color: gray;
    margin-top: 10px;
}

.right-area p {
    padding-left: 70px;
    text-align: justify;
    word-break: break-all;
    font-size: 20px;
    color: gray;
    margin-top: 10px;
}

#work {
    margin-top: 100px;
}

.work-group {
    margin: 10px 0;
}

.work .work-group {
    position: relative;
}

.right-area h2:hover {
    color: #f18a03;
}

.work-group h3 {
    font-size: 22px;
    font-weight: normal;
    padding-left: 70px;
}

.work-group h4 {
    font-size: 18px;
    padding-left: 70px;
    font-weight: normal;
    color: gray;
}

.work-group h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.edu-group h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.work-group span {
    position: absolute;
    top: 10px;
    right: 0;
    color: rgb(185, 181, 181);
    font-weight: bold;
    font-size: 15px;
}

.education {
    margin-top: 100px;
}

.education h1 {
    font-weight: bold;
}

.edu-group {
    position: relative;
    margin: 10px 0;
}

.edu-group h3 {
    font-size: 22px;
    font-weight: normal;
    padding-left: 70px;
}

.edu-group span {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 15px;
    font-weight: bold;
}

.edu-group p {
    padding-left: 80px;
    margin-bottom: 30px;
}

button {
    font-size: 15px;
    padding: 10px 20px;
    margin: 20px;
    background-color: rgb(189, 182, 182);
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    cursor: pointer;
    transition: .5s;
}

button:hover {
    background-color: rgb(231, 144, 14);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}


#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: transparent;
    /* Set a background color */
    color: rgb(231, 144, 14);
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: rgb(59, 58, 58);
    /* Add a dark-grey background on hover */
}

.icone {
    width: 50px;
}

.slide {
    display: inline-block;
    animation: slide 0.2s ease-out forwards;
}

@keyframes slide {
    from {
        transform: translateX(50px)
    }

    to {
        transform: translateX(0px);
    }
}


@media all and (max-width: 1000px) {

    body {
        width: 180%;
        margin: 15px auto;
    }

    .header img {
        width: 35%;
        min-width: 20%;
        height: auto;
    }

    .projet {
        width: 100%;
        margin: 15px auto;
    }

    .projet img {
        width: 100%;
        min-width: auto;
        height: auto;
    }

    .projet .photo {
        width: 100%;
        height: auto;
    }

    header h2 {
        width: 90%;
    }

    .right-area {
        width: 100%;
        height: auto;
    }

    .left-area {
        width: 100%;
        height: auto;
    }
}